<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Olá, mundo @ViewBag.Linguagem!</p>
        <p>Links disponíveis:</p>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/Home">Página Inicial</a></li>
            <li><a href="/Home/Index">Mesma página inicial</a></li>
            <li>@Html.ActionLink("Sobre","About")</li>
            <li>@Html.ActionLink("Categorias","Categorias")</li>
            <li>@Html.ActionLink("Posts", "Index", "Post")</li>
        </ul>

        <form action="@Url.Action("OlaMundo")">
            Linguagem: <input name="linguagem" /><input type="submit" value="Diga Oi" />
        </form>
    </div>
</body>
</html>
